# seeds
ENABLE_SEED_DOWNLOAD=1
SEED_URL="http://srv1/bmapi/crss-seed"

# regexes
ENABLE_REGEX_DOWNLOAD=1
REGEX_URL="http://srv1/bmapi/crssregex?depth="

# alert section
ENABLE_ALERT=1
EMAILS=aman.telkar@simplify360.com,binit@simplify360.com,kirti.sagar@simplify360.com;
MAX_CYCLE_TIME_HRS=6;

SOLR_URL="http://crawler1:8983/solr/sites"
CYCLE_SLEEP_SECS=120
